<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <link rel='stylesheet'
          type='text/css' href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

    <!-- data chart from trading view lightweight -->
    <br>
    <h3>Candlestick Chart - {{ kline_interval }} - ETHEUR</h3>
    <div id="chart"></div>
    <form action="">
        <label for="kline_interval">Change Candlestick interval:</label>
        <select name="kline_interval">
            {% for interval in kline_dictionary %}
            {% if interval == kline_interval %}
            <option selected value="{{interval}}">{{interval}}</option>
            {% else %}
            <option value="{{interval}}">{{interval}}</option>
            {% endif %}

            {% endfor %}
        </select>
        <input type="submit" value="Update chart">
    </form>
    <!-- balance -->
    <br>
    <p>{{address}}</p>
    <h3>Ether Balance: {{ balance }}</h3>

    <!--current price analysis -->
    <br>
    <p>NZD Value</p>
    <h3>${{current_price_nzd}}</h3>

    <br>
    <p>Total Profit</p>
    <h3>
        {% if net_profit > 0 %}
        +${{net_profit}},
        {% else %}
        ${{net_profit}},
        {% endif %}


        {% if percentage_profit > 0 %}
        +{{percentage_profit}}%
        {% else %}
        {{percentage_profit}}%
        {% endif %}


    </h3>

    <script>
        var chart = LightweightCharts.createChart(document.getElementById('chart'), {
            width: 600,
            height: 300,
            layout: {
                backgroundColor: '#000000',
                textColor: 'rgba(255, 255, 255, 0.9)',
            },
            grid: {
                vertLines: {
                    color: 'rgba(197, 203, 206, 0.5)',
                },
                horzLines: {
                    color: 'rgba(197, 203, 206, 0.5)',
                },
            },
            crosshair: {
                mode: LightweightCharts.CrosshairMode.Normal,
            },
            rightPriceScale: {
                borderColor: 'rgba(197, 203, 206, 0.8)',
            },
            timeScale: {
                borderColor: 'rgba(197, 203, 206, 0.8)',
            },
        });

        var candleSeries = chart.addCandlestickSeries({
        upColor: '#26a69a',
        downColor: '#ef5350',
        borderDownColor: '#ef5350',
        borderUpColor: '#26a69a',
        wickDownColor: '#ef5350',
        wickUpColor: '#26a69a',
        });

        candleSeries.applyOptions({
            timeScale: {
                rightOffset: 12,
                barSpacing: 3,
                fixLeftEdge: true,
                lockVisibleTimeRangeOnResize: true,
                rightBarStaysOnScroll: true,
                borderVisible: false,
                borderColor: '#fff000',
                visible: true,
                timeVisible: true,
                secondsVisible: false,
                tickMarkFormatter: (time, tickMarkType, locale) => {
                    console.log(time, tickMarkType, locale);
                    const year = LightweightCharts.isBusinessDay(time) ? time.year : new Date(time * 1000).getUTCFullYear();
                    return String(year);
                },
            },
        });
        candleSeries.setData({{ processed_candlesticks }});
    </script>
</body>
</html>